          
      <div class="jumbotron mt-4">
        <div class="row" >
          <div class="col-md-6">
            <h1>Welcome to Leonard</h1>
            <p>A website for Stanley Bailey plane enthusiasts. </p>
            <ul class="list-unstyled">
              <li>Definitive quide to Stanley Bailey plane models.</li>
              <li>Definitive quide to Stanley Bailey plane types.</li>
              <li>Determine the type of your planes.</li>
              <li>Document your planes.</li>
              <li>Share information with other members.</li>
            </ul>
            <p>
              <%= link_to 'Get started now »', dashboard_path, class: "btn btn-lg btn-primary"%>
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag 'StanleyBaileyPlane', class: 'mx-auto d-block img-fluid'%>
          </div>  
        </div>
      </div>