<div class="row pt-4">
  <div class="col-sm-4">
    <div class="card p-4">
      <div class="card-block">
        <h3 class="card-title">Stanley Bailey model Guide</h3>
        <p class="card-text">Learn all about the models 1 through 8</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card p-4">
      <div class="card-block">
        <h3 class="card-title">Stanley Bailey Type Guide</h3>
        <p class="card-text">Learn all about the types of Stanley planes </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card p-4">
      <div class="card-block">
        <h3 class="card-title">Document your planes.</h3>
        <p class="card-text">Interactive process to learn about your plane.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row pt-4">  
  <div class="col-sm-4">
    <div class="card p-4">
      <div class="card-block">
        <h3 class="card-title">Stanley Baily part list.</h3>
        <p class="card-text">Got a part ....</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>